<div class="container">

  <header class="header clearfix">
    <div class="logo">Артзавтра.юа</div>

    <nav class="menu_main">
      <ul>
        <li class="active"><a href="#">Работы</a></li>
        <li><a href="#">Участники</a></li>
        <li><a href="#">Рейтинг</a></li>
      </ul>
    </nav>
  </header>


  <div class="info">
    <article class="hero clearfix">
      <div class="col_100">
        <h1>Образотворче мистецтво</h1>
      </div>
    </article>

  </div>


</div>