// Place all the styles related to the art_zavtra controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test {
  font-size: 1.2em;
  width: 600px;
  line-height: 1.3em;
}
